/bin/
/lib/

# Compiled ArchOn bytecode and line-mapping
/*.sim
*.sim.bin
*.sim.map

##################
# Just in case

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
